@model RestApi.Controllers.ProvisioningController.IndexModel

@{
    ViewBag.Title = "Bouvet Battle Royale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lagoppstilling</h2>

@if (Model.HarMelding)
{
    if (Model.ErFeilmelding)
    {
        <div style="color: red">@Model.Melding</div>
    }
    else
    {
        <div style="color: green">@Model.Melding</div>
    }
}

@if (Model.TillatNyttLag)
{
    <div>
        @Html.ActionLink("Registrer nytt lag", "NyttLag", "Provisioning", new {id = Model.MatchId}, null)
    </div>
}

@if (Model.TillatNySpiller)
{
    <div>
        @Html.ActionLink("Registrer ny deltaker", "NySpiller", "Provisioning")
    </div>
}
