@model RestApi.Controllers.ProvisioningController.IndexModel

@{
    ViewBag.Title = "Bouvet Battle Royale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oppsett</h2>

@if (Model.HarMelding)
{
    <p>@Model.Melding</p>
}