body{
    background-color:#212121;
    color: #d45a1f;
}

.debug_style{

}

#navbar_bottom_container{
    padding:0px 10px 0px 10px;
}

.btn-navbar-bottom{
    background-color:#d45a1f;
    color:#ffffff;
    border:0px solid #000000;
    border-radius:0;
}

#map{
    border: 2px solid #ffffff;
}

.btn-navbar-top{
    padding:10px 5px 10px 5px;
}

#navbar_top_container{
    padding:0px 5px 0px 5px;
}

.no_padding{
    padding:0px 0px 0px 0px;
}

.navbar_transparent_background{
    background-color:transparent;
    border: 0px solid #000000;
}

.navbar_slightly_transparent_background{
    background-color:rgba(0,0,0,0.65);
    border: 0px solid #000000;
}

.text-orange{
    color:#d45a1f;
}

#register_Post_Heading{
    font-size:20px;
    color:#ffffff;
    border-bottom: 3px solid #d45a1f;

}

#btn_switch_map_messages{
    color: #d45a1f;
    border-radius: 0;
    background-color: #000000;
    border: 1px solid #ffffff;
}

.panel-success{
    border-color:transparent;
}

.panel-success>.panel-heading{
    color:#d45a1f;
}

.btn-orange-bouvet{
    border: 1px solid #d45a1f;
    border-radius: 0;
    background-color: transparent;
    color:#ffffff;
    font-size: 19px;
    padding: 10px 5px 10px 5px;
}

.btn-orange-bouvet:hover{
    background-color: #d45a1f;
}

.panel-success>.panel-heading{
    background-color:#343434;
    border: 0px solid #d45a1f;
}

#float_left{
    margin-left:0px;
}

#options_info_div{
    padding:15px 0px 25px 0px;
}

#post_id_main{
    border-radius:0;
    border: 1px solid #d45a1f;
}

#rank_and_score_Carousel_main{
    padding:15px 0px 20px 0px;
}

textarea {
   resize: none;
}

.panel-heading-centered{
    text-align:center;
}

.panel{
    background-color:transparent;
}

.panel-body{
    background-color:#343434;
    padding: 0px 0px 15px 0px;
}

#messages .panel-body{
    background-color:transparent;
}

.centerBlock {
  display: table;
  margin: 0 auto;
  padding-top:5px;
}

.text-style-points{
    font-size: 200%;
}

#messages_panel_heading{
    border: 1px solid #ffffff;
    border-radius: 0;
    background-color:transparent;
}

#messages_panel_heading h4{
    font-size:30px;
}

.text-green{
    color:green;
}

.text-red{
    color:red;
}

body{
    padding-top: 10px;
}


.little-padding-left-right{
    padding-left:  5px;
    padding-right: 5px;
}


.little_padding{
    padding: 0px;
}

.little_margin_bottom{
    margin-bottom:5px;
}

.list-striped{
    color:#ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 15px 5px 10px 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.btn-img{
    padding: 5px 10px 5px 7px !important;
}

.btn-img-no-weapon{
    padding: 5px 7px 5px 7px !important;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10000; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 60px; /* 50px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 60px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 60px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 60px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 60px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}