
body {

}

.modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}

#left {
  height: 100%;
  width: 20%;
  float: left;
  background-color: whitesmoke;
}

#meldingsboks {
  margin-top: 50px;
  overflow: scroll;
  height: 50%;
}

#mapWrapper {
  width: 80%;
  height: 100%;
  float: right;
}


