<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <contexts>
      <context type="Database.DataContext, Database">
        <databaseInitializer type="Database.Initializer, Database" />
      </context>
    </contexts>
    <!--<defaultConnectionFactory type="Database.ConnectionFactory, Database" />-->
  </entityFramework>
  <connectionStrings>
    <add name="BBR_DatabaseConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=BBR-NNUG;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
